<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Doctor Profile | PROFILE</title>

<style>

    .form-control:focus{
      box-shadow: none;
      outline: none;
      border: 1px solid #070F2B;
    }

    .page {
      display: none;
    }

    .page:first-child {
      display: block;
    }

</style>
</head>
<body>
  <div class="text-center text-danger mb-1">
    <%= typeof msg != 'undefined' ? msg : "" %>    
  </div>

  <button 
  class="bg-secondary text-white px-5 py-2 border-0 rounded fw-semibold" 
  onclick="history.back()">
  Back</button>

    <h5 class="text-center fs-4 mb-2">Create a Doctor's Profile!</h5>  
    <!-- Designing the doctor page -->
  <div class="doctors--area mt-2 mb-3">
        <div class="row justify-content-center pb-2">
        <div class="col-lg-8 shadow shadow-lg rounded bg-white p-3">
          <!-- progress bar of the form -->
          <div class="progress mb-2" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 0%"></div>
          </div>

          <!-- doctor form -->
           <form action="/admin/doctor/profile/save" method="post" id="doctorForm" class="p-1" enctype="multipart/form-data" name="doctorForm">
            <div class="page" id="FormPage1">
              <h5 class="text-center mb-2 fs-4">Personal Information</h5>
              <div class="form-group mb-3">
                <label for="DoctorName">Doctor's Name</label>
                <input type="text"
                 name="doctorName"
                 class="form-control"
                 required />
              </div>
  
              <div class="form-group mb-3">
                <label for="DoctorEmail">Doctor's Email</label>
                <input type="email"
                 name="doctorEmail"
                 class="form-control" 
                 required/>
              </div>
  
              <div class="form-group mb-3">
                <label for="DoctorPhone">Doctor's Phone</label>
                <input type="text"
                 name="doctorPhone"
                 id="doctorsPhone"
                 class="form-control"
                 required/>
                <span class="msg-for-phone"></span>
              </div>
  
    
              <div class="form-group mb-3">
                <label for="DoctorDays">Available On ! [Choose at least two days]</label>
                <div class="row g-3">
                  <div class="col-sm-6">
                    <select name="doctorDate1" id="date" class="form-control" required>
                      <option disabled selected>Select a day</option>
                      <option value="Sunday">Sunday</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                      <option value="Saturday">Saturday</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <select name="doctorDate2" id="date" class="form-control" required>
                      <option disabled selected>Select a day</option>
                      <option value="Sunday">Sunday</option>
                      <option value="Monday">Monday</option>
                      <option value="Tuesday">Tuesday</option>
                      <option value="Wednesday">Wednesday</option>
                      <option value="Thursday">Thursday</option>
                      <option value="Friday">Friday</option>
                      <option value="Saturday">Saturday</option>
                    </select>
                  </div>
                </div>
             </div>

              <div class="form-group mb-3">
                <label for="photo">Set a Profile Photo</label>
                <input type="file"
                  class="form-control"
                   name="doctorImage"
                   required
                   />
              </div>
            <button onclick="nextPage()" 
            class="px-5 py-2 bg-primary text-white border-0 next"
            style="border-radius: 100px;">Next</button>
            </div>
            <!-- first form page -->
             <div class="page" id="FormPage2">
              <h5 class="text-center fs-4 mb-2">Professional Information</h5>
              <div class="form-group mb-3">
                <label for="doctorLicense">Medical License Number</label>
                <input type="text"
                 name="doctorLicense"
                 id="doctorLicense"
                 class="form-control" 
                 required/>
              </div>

              <div class="form-group mb-3">
                <label for="doctorAcademics">Academic Details</label>
                <select name="doctorAcademics" id="" class="form-control" name="academics" required>
                  <option value="" disabled selected>Select Doctor's Academic Details</option>
                  <option value="md">M.D</option>
                  <option value="phd">PH.D</option>
                  <option value="mbbs">MBBS</option>
                </select>
              </div>

              <div class="form-group mb-3">
                <label for="doctorSpeciality">Speciality / Area of Expertise</label>
                <input type="text"
                 name="doctorSpeciality"
                 class="form-control" 
                 required/>
              </div>

              <div class="form-group mb-3">
                <label for="doctorSubSpeciality">Sub-specialties (if any)</label>
                <input type="text"
                 name="doctorSubSpeciality"
                 class="form-control" 
                 />
              </div>

              <button onclick="prevPage()"
              class="px-5 py-2 bg-primary text-white border-0"
              style="border-radius: 100px;">Back</button>
              <button onclick="nextPage()" 
              class="px-5 py-2 bg-primary text-white border-0 next"
              style="border-radius: 100px;">Next</button>
              </div>
              <!-- second page part -->

            <div class="page" id="FormPage3">
              <h5 class="text-center fs-4 mb-2">Employment Details</h5>

              <div class="form-group mb-3">
                <label for="doctorEmploymentArea">Hospital or Clinic Affiliation</label>
                <input type="text"
                 name="doctorEmploymentArea"
                 class="form-control"
                 required/>
              </div>

              <div class="form-group mb-3">
                <label for="doctorDepartment">Which Department!</label>
                <input type="text"
                 name="doctorDepartment"
                 class="form-control" 
                 required/>
              </div>
          
              <div class="form-group mb-3">
                <label for="doctorEmploymentArea">Employment Status</label>
                <select name="doctorEmploymentStatus" id="" class="form-control" name="empStatus" required>
                  <option value="" disabled selected>Select Doctor's Employment Status</option>
                  <option value="fullTime">Full-Time</option>
                  <option value="partTime">Part-Time</option>
                  <option value="visitingConsultant">Visting Consultant</option>
                </select>
              </div>

              <div class="form-group mb-3">
                <label for="doctorEmploymentDate">Employment Start Date</label>
                  <input type="date" class="form-control" name="EmpDate" required>
              </div>

              <div class="form-group mb-3">
                <label for="workingTime">Working Hours [Time Span]</label>
                 <div class="row">
                <div class="col-sm-6">
                  <input type="text"
                   id="time1"
                  class="form-control"
                   name="doctorHours1"
                   min="9.00"
                   max="20.00"
                   required
                   />
                </div> 
                  <div class="col-sm-6">
                    <input type="text"
                    id="time2"
                    class="form-control"
                     name="doctorHours2"
                     required
                     />
                  </div> 
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="workingTime">Doctor's Fee/ Session</label>
                <input 
                type="number"
                placeholder="&#8377; per Session..."
                class="form-control"
                name="doctorFee"
                required />
              </div>

              <button onclick="prevPage()"
              class="px-5 py-2 bg-primary text-white border-0 "
              style="border-radius: 100px;">Back</button>

              <button onclick="nextPage()" 
              class="px-5 py-2 bg-primary text-white border-0 next"
              style="border-radius: 100px;">Next</button>
            </div>
            <!-- third page is done! -->

            <div class="page" id="FormPage4">
                <h5 class="text-center fs-4 mb-2">Account SetUp</h5>
                <div class="form-group mb-3">
                    <label for="doctorUser">Set a UserName</label>
                    <input type="text"
                     class="form-control"
                     name="doctorUser"
                     required/>
                  </div>
                  <div class="form-group mb-3">
                    <label for="doctorPass">Set a Password</label>
                    <input type="password"
                     name="doctorPass"
                     class="form-control"
                     required/>
                  </div>
 
                  <div class="d-flex justify-content-between align-items-center">
                    <button onclick="prevPage()" 
                    class="px-5 py-2 bg-primary text-white border-0 "
                    style="border-radius: 100px;">Back</button>

                    <button 
                    type="submit" 
                    class="px-5 py-2 rounded-pill bg-primary text-white mb-2 border-0">
                    Create Profile
                   </button>
                  </div>

            </div>
             </div>
        
            </div>
         
          </form>
        </div>


      </div>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-timepicker@0.5.2/js/bootstrap-timepicker.min.js"></script>

      <script src="/js/viewFile.js"></script>
  
      <script>
        function setTime(time){
              $(time).timepicker({
              timeFormat: 'hh:mm a',
              interval: 15,
              defaultTime: 'current',
              dynamic: true,
              dropdown: true,
              scrollbar: true
          });
      }

      setTime('#time1')
      setTime('#time2')
     
      </script>
    
</body>
</html>