<style>
    a{
        border-radius: 100px;
    }
</style>
    
<div class="d-flex justify-content-end mt-2 mb-2">
    <a href="/doctor/appointment/panel/<%=data.id %>/pending" class="text-decoration-none px-5 py-2 bg-primary text-white position-relative">
        Pending Appointments
        <% appointments.map((appointment) => { %>
            <% if(appointment.Appointment_Status == "pending") { %>
                <% if(appointment.Appointment_User_Chosen_Doctor === data.id) { %>
                    <% length++  %>           
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                     <%= length %>
                    <span class="visually-hidden">pending appointments</span>
                </span>
            <% }} %>   
       <% }) %>
       <% length = 0 %>  
    </a>
</div>
