<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css"
      integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

    <style rel="stylesheet">
      body {
        min-height: 100vh;
        background: #f2f6f5;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
      }

      .login--area {
        background: #fff;
        margin-top: 30px;
        padding: 0.8rem 16px 10px 16px;
        border: 1px solid #0c359e;
      }

      form .form-control:focus {
        outline: none;
        box-shadow: none;
      }

      form #captcha {
        width: 90%;
        height: 80px;
        letter-spacing: 6px;
        border: 1px solid #3f73f7;
        background-color: #3e73fa;
        color: #fff;
      }
      form .refresh-captcha{
        width: 40px;
        height: 30px;
        cursor: pointer;
      }

      .login--btn{
        border-radius: 200px;
        background: #0c359e;
        color: #ffff;
        border: none;
      }

      form #login:focus{
        border-radius: 200px;
        background: #0c359e;
        color: #ffff;
        border: none;
      }
      .msg.for-captcha{
        color: red;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 class="text-center fw-bold mb-2 mt-5">HealthHub</h2>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login--area">
            <h4 class="title mb-3 text-center">Login To Continue!</h4>
            <p class="text-danger mb-3 text-center">
                    <%= messages.error %>
            </p>
            <form action="/login" method="post" name="loginForm">
              <div class="form-group mb-2">
                <label for="email">Email Address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter Email Address"
                  required
                /> 
              </div>
              <div class="from-group mb-3">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="pass"
                  name="password"
                  placeholder="Enter Password"
                  required
                />     
              </div>
              <div class="form-group mb-4">
                <div class="d-flex gap-2 align-items-center">
                  <canvas id="captcha"></canvas>
                  <div class="refresh-captcha" onclick="createCaptcha()">
                    <i class="fa fa-arrows-rotate fs-2"></i>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="captcha-input"
                  placeholder="Write Captcha code"
                />
                <span class="msg-for-captcha"></span>
              </div>
              <button
              type="submit"
                class="px-5 py-2 login--btn form-control"
                id="login"
              >
                Sign In
              </button>
            </form>
          </div>
        </div>
      </div>
      <p class="text-center mt-2">Don't have an account? <a href="/user/signup" class="text-decoration-none fw-bold ms-1">
        Register</p>
    </div>

    <script>
      const captchaInput = document.getElementById("captcha-input");


      let captchaText = document.getElementById("captcha");
      let ctx = captchaText.getContext("2d");
      ctx.font = "35px Areal";
      ctx.fillStyle = "#fff";

      let captchaStr = "";

      const captchaCode = [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O",
        "P",
        "Q",
        "R",
        "S",
        "T",
        "U",
        "V",
        "W",
        "X",
        "Y",
        "Z",
        "a",
        "b",
        "c",
        "d",
        "e",
        "f",
        "g",
        "h",
        "i",
        "j",
        "k",
        "l",
        "m",
        "n",
        "o",
        "p",
        "q",
        "r",
        "s",
        "t",
        "u",
        "v",
        "w",
        "x",
        "y",
        "z",
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
      ];

      function createCaptcha() {
        let arr = [];

        for (let i = 1; i <= 7; i++) {
          arr.push(captchaCode[Math.floor(Math.random() * captchaCode.length)]);
        }

        captchaStr = arr.join("");

        ctx.clearRect(0, 0, captchaText.width, captchaText.height);
        ctx.fillText(captchaStr, captchaText.width / 4, captchaText.height / 2);
      }

      createCaptcha();

      function isCaptchaValid(value){
        if (value !== captchaStr) {
          document.querySelector(".msg-for-captcha").innerHTML =
            "Incorrect captcha!";
            captchaInput.style.border = "1px solid red";
            return false;
        }

        return true;
      }



      document.forms["loginForm"].addEventListener("submit", (event) => {
        event.preventDefault();


        if(isCaptchaValid(captchaInput.value)){
          document.forms["loginForm"].submit();
        }else{
          document.forms["loginForm"].reset();
        }
        
      });
    </script>
  </body>
</html>
